@font-face {
  font-family: "StarsHollow";
  src: url("https://cdn.jsdelivr.net/gh/EstrellitasRPG/fuentes@main/Solid%20Antique%20Roman%20Std%20Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.af-profb1 {
  width: 500px;
  font-family: Inter, sans-serif;
  font-size: 14px;
  border: 15px solid #eee;
  margin: 10px auto;
  background: #fff;
  padding-bottom: 40px;
}
.af-portb1 {
  height: 260px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
}
.af-portb1 img {
  width: 150px;
  height: 150px;
  border-radius: 180px;
  border: 10px solid #fff;
  top: 80px;
  position: relative;
}
.af-tringb2 {
  width: 0;
  height: 0;
  border-right: 500px solid #fff;
  border-top: 100px solid transparent;
  border-bottom: 0px solid transparent;
  margin-top: -100px;
  margin-bottom: 0px;
}

.af-nmbb1 {
  line-height: 18px;
  padding-left: 20px;
  color: #fff;
  font-family: StarsHollow, serif;
  font-style: italic;
  font-size: 18px;
  border-bottom: 0px solid #fff;
  margin-left: -2px;
  padding-bottom: 5px;
}
.af-titb1 {
  font-family: StarsHollow, serif;
  font-size: 95px;
  text-align: center;
  color: #444;
  padding: 0px 40px 40px;
  line-height: 18px;
}
.af-chtitb1 {
  font-size: 25px;
  font-family: StarsHollow, sans-serif;
  font-weight: 500;
}
.cred {
  margin: 0px auto;
  margin-top: -5px;
  width: 280px;
  text-align: center;
  background: #fff;
  border: 1px solid #eee;
}
.cred a {
  text-decoration: none;
  color: #888;
  text-transform: uppercase;
  font-size: 8px;
  font-family: arial;
  letter-spacing: 2px;
}
.af-pstb1 {
  padding: 50px 60px 20px;
  text-align: justify;
  font-size: 12px;
  line-height: 18px;
}
.af-enlacesb1 {
  border: 1px solid #eee;
  display: flex;
  aling-items: center;
  justify-content: center;
  padding: 10px 0px;
}
.af-en1 {
  margin: 0px 5px;
  text-align: center;
  font-size: 13px;
  font-family: Inter, sans-serif;
  width: 100px;
}
.af-en1 i {
  color: ;
  font-size: 18px;
}
.af-en1 a {
  text-decoration: none;
  color: #555;
}
.af-botonb1 {
  border-top: 1px solid #eee;
  padding: 10px 30px;
  text-align: center;
}
