@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

.bubble {
  margin: 40px auto;
  height: 400px;
  width: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.bubble br {display: none}

.emisor {
  background-color: #FAE3AB;
  max-width: 250px;
  padding: 10px;
  margin: 10px 0px;
  border-radius: 0px 20px 20px 20px;
  border: 1px solid #b8891a;
  font: 14px "Google Sans"
}

.emisor-img img{
  max-width: 300px;
  margin: 10px 0px;
  border-radius: 0px 20px 20px 20px;
  border: 1px solid #b8891a;
  height: auto;
}

.receptor-img img{
  max-width: 300px;
  margin: 10px 0px;
  border-radius: 20px 20px 0px 20px;
  border: 1px solid #999;
  height: auto;
  float: right;
}

.receptor {
  float: right;
  background-color: #ebebeb;
  max-width: 250px;
  padding: 10px;
  margin: 10px 0px;
  border-radius: 20px 20px 0px 20px;
  border: 1px solid #999;
  font: 14px "Google Sans"
}
