@font-face {
  font-family: "StarsHollow";
  src: url("https://cdn.jsdelivr.net/gh/EstrellitasRPG/fuentes@main/Solid%20Antique%20Roman%20Std%20Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
