/** ESTE CÓDIGO PERTENECE A Søren, DE TREE OF LIFE RPG
Borraré este archivo cuando Søren arregle sus códigos en el foro.
No pretendo plagiar su trabajo, tan solo evitar las cargas interminables en mis roles */


/*SIMPLE*/
.simple {
  --blancorgb: 255, 255, 255;
  --negrorgb: 0, 0, 0;
  --blanco: #fafafa;
  --ddd: #ddd;
  --222: #222;
  --accentoa: #3e5975;
  --accentob: #6f8cab;
  --letra: "Roboto";
  --letrab: "New Amsterdam";
  --borde: 1px solid var(--ddd);
  --grad: linear-gradient(90deg, var(--accentoa), var(--accentob));
  --shws: 1px 1px 2px rgba(var(--negrorgb), 0.1), -1px -1px 2px rgba(var(--negrorgb), 0.1), -1px 1px 2px rgba(var(--negrorgb), 0.1), 1px -1px 2px rgba(var(--negrorgb), 0.1);
  --shwsb: 1px 1px 1px rgba(var(--negrorgb), 0.1), -1px -1px 1px rgba(var(--negrorgb), 0.1), -1px 1px 1px rgba(var(--negrorgb), 0.1), 1px -1px 1px rgba(var(--negrorgb), 0.1);
}

.simple {
  width: 475px;
  margin: 10px auto;
  background: var(--blanco);
  color: var(--222);
  border: var(--borde);
  outline: var(--borde);
  outline-offset: -13px;
  padding: 12px;
  line-height: 1.2rem;
  font-size: 13px;
  font-family: arial, sans-serif;
  text-align: justify;
  box-sizing: content-box;
}

.simple-tit {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 25px;
  font-family: var(--letrab);
  font-size: 33px;
  line-height: 33px;
  border-bottom: var(--borde);
}

.simple-tit.dos {
  padding: 0;
}

.simple-tit span>em {
  color: var(--accentob);
  font-size: 18px;
  display: block;
  line-height: 18px;
  letter-spacing: 3px;
}

.simple-dts,
.simple-cap {
  position: relative;
  border-bottom: var(--borde);
  padding: 10px;
  text-align: center;
  font-family: var(--letra);
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
}

.simple-cap {
  border-top: var(--borde);
  border-bottom: none;
}

.simple-dts:before,
.simple-img:before,
.simple-cap:before {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background: var(--accentob);
  mix-blend-mode: multiply;
  opacity: 0.5;
}

.simple-dts>i,
.sm-tit>span.simple-dtt>i {
  color: var(--accentoa);
}

.sm-tit {
  display: block;
  width: 329px;
  padding: 10px;
}

.sm-tit>span {
  font-size: 28px;
  line-height: 28px;
}

.sm-tit>span.simple-dtt {
  display: block;
  text-align: center;
  font-family: var(--letra);
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 500;
  line-height: 15px;
}

.simple-txt {
  padding: 25px 50px;
}

.simple-pj {
  display: flex;
  align-items: center;
  position: relative;
  border-top: var(--borde);
}

.simple-pj:nth-child(odd) {
  flex-direction: row-reverse;
}

.simple-img,
.sim-img {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.simple-img {
  width: 125px;
  height: 125px;
  border-right: var(--borde);
  flex: none;
}

.simple-pj:nth-child(odd) .simple-img {
  border-right: none;
  border-left: var(--borde);
}

.sim-img {
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 5px solid var(--blanco);
  outline: var(--borde);
}

.simple-info {
  padding: 10px 15px;
  width: 319px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.simple-pj:nth-child(odd) .simple-info>span {
  text-align: right;
}

.simple-info>span {
  display: block;
  width: 100%;
  text-transform: uppercase;
  font-family: var(--letra);
  color: var(--accentoa);
  font-weight: 500;
}

.simple-info>span.nom {
  font-family: var(--letrab);
  font-size: 33px;
  line-height: 33px;
  padding: 0 10px;
  color: var(--222);
}

.simple-info>span>i {
  color: var(--accentob);
}
